.jumbotron{
	background: black;
	color: white;
}

footer{
	background: #bfbfbf;
	color: black;
	margin-top: 20px;
}

.card-option{
	//si se agrega se limina col-sm
	flex: 1 150px;
	padding: 2px 2px 2px 2px;
	height: 100%;
}

.card-option > button{
	width: 100%;
}
.card-option > h3, .card-option > p{
	text-align: center;
}